@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat_channel {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: linear-gradient(to bottom, #c9e8c9, #b7e7bb);
  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 97% !important;
  margin: 0 auto !important;
  border-radius: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-top: 1px solid #dddddd;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notification {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #dddddd;
}
